{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-base",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "env": {
    "browser": true,
    "es6": true,
    "amd": true,
    "jest": true
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": [
      "error"
    ],
    "import/prefer-default-export": "off",
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": [
      "error"
    ],
    "class-methods-use-this": "off",
    "consistent-return": "off",
    "no-underscore-dangle": "off",
    "no-param-reassign": "off",
    "max-len": [
      "error",
      {
        "code": 120,
        "ignoreTemplateLiterals": true,
        "ignoreStrings": true
      }
    ],
    "no-useless-constructor": "off",
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ],
    "camelcase": [
      "error",
      {
        "allow": [
          "^UNSAFE_"
        ]
      }
    ],
    "linebreak-style": "off",
    "no-useless-return": "off",
    "no-script-url": "off",
    "no-return-assign": "off",
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ],
    "no-loop-func": "off",
    "no-void": "off",
    "no-continue": "off",
    "prefer-destructuring": "off",
    "react/display-name": "off",
    "react/prop-types": "off",
    "import/no-extraneous-dependencies": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "simple-import-sort/imports": "error"
  },
  "plugins": [
    "react",
    "import",
    "@typescript-eslint",
    "simple-import-sort"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      },
      "typescript": {}
    },
    "react": {
      "version": "detect"
    }
  }
}